

.shopcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-right: 50%;
  margin-bottom: 10px;

}

.ShopTitle {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.productname {
  margin: 0; }

.title {
  display: flex;
  align-items: center; 
}

.like {
  width: 50px; 
  height: auto;
  margin-left: 180px; 
}

.Shopproductname {
  display: flex;
  align-items: center; 
}

.productname {
  margin: 0; 
}




.mainAbout {
  display: flex;
  align-items: center;
}

.mainHeading {
  margin-right: 10px;
  padding: 0 30px;

  color: #716f6f;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rightline,
.leftline {
  display: flex;
  align-items: center;
  width: 100%;
  border-top: 1px solid #000;
  padding: auto;
  height: 1.5px;
  background-color: #000;
  width: 500px;
}

.shopcards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
  width: 100%;
  gap: 20px;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: start;
  width: 50%;
  height: 30.688px;
  flex-shrink: 0;
  margin: 0 0 20px 0;
}

.productcard {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  border-radius: 17px;
  background: #fff;
  box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.25);
  height: 607px;
}

.productimage {
  max-width: 100%;
  height: auto;
}

.productname {
  font-size: 24px;
  margin: 10px 0;
}

.likeimage {
  display:flex;

  width: 38px;
  height: 38px;
  flex-shrink: 0;
  height: auto;
}

.productdetails {
  display: flex;
  justify-content: space-between;
}

.productprice {
  color: #000;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.buybutton {
  display: inline-flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #327e47;
  color: #ffffff;
}

.bottom {
  text-align: center;
  /* margin: 20px 0; */
}

.viewAll {
  font-size: 24px;
  color: #333;
}

.Shopmaindiv{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; 
  flex-direction: column;
  text-align: start; 
}


